<!DOCTYPE>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.1, maximum-scale=1.0">
		<script src="libs/jquery.js" type="text/javascript"></script>
		<script src="libs/jquery.tmpl.min.js" type="text/javascript"></script>
		<script src="libs/jquery-ui.min.js" type="text/javascript"></script>
		<link href="libs/jquery-ui.min.css" rel="stylesheet"></link>

		<script src="../libs/lodash.min.js"></script>
		<script src='../libs/anonymousassertion.js'></script>
		<script src="../kore-bot-sdk-client.js"></script>
		<script src="chatWindow.js" type="text/javascript"></script>
		<script src="../libs/emoji.js" type="text/javascript"></script>
		<script src="../libs/recorder.js" type="text/javascript"></script>
		<script src="../libs/recorderWorker.js" type="text/javascript"></script>
		<link href="chatWindow.css" rel="stylesheet"></link>
		<link href="../libs/emojione.sprites.css" rel="stylesheet"></link>
		<script type="text/javascript">


var buttonTemplate = '<script id="chat_message_tmpl" type="text/x-jqury-tmpl"> \
			{{if msgData.message}} \
				<li {{if msgData.type !== "bot_response"}}id="msg_${msgItem.clientMessageId}"{{/if}} class="{{if msgData.type === "bot_response"}}fromOtherUsers{{else}}fromCurrentUser{{/if}} with-icon"> \
					<div class="buttonTmplContent"> \
						{{if msgData.createdOn}}<div class="extra-info">${helpers.formatDate(msgData.createdOn)}</div>{{/if}} \
						{{if msgData.icon}}<div class="profile-photo"> <div class="user-account avtar" style="background-image:url(${msgData.icon})"></div> </div> {{/if}} \
						<ul class="buttonTmplContentBox">\
							<li class="buttonTmplContentHeading"> \
								{{if msgData.type === "bot_response"}} {{html helpers.convertMDtoHTML(msgData.message[0].component.payload.text, "bot")}} {{else}} {{html helpers.convertMDtoHTML(msgData.message[0].component.payload.text, "user")}} {{/if}} \
								{{if msgData.message[0].cInfo && msgData.message[0].cInfo.emoji}} \
									<span class="emojione emojione-${msgData.message[0].cInfo.emoji[0].code}">${msgData.message[0].cInfo.emoji[0].title}</span> \
								{{/if}} \
							</li>\
							{{each(key, msgItem) msgData.message[0].component.payload.buttons}} \
								<li {{if msgItem.payload}}value="${msgItem.payload}"{{/if}} {{if msgItem.url}}url="${msgItem.url}"{{/if}} {{if msgItem.type === "attachment"}}class="buttonTmplContentChild attachmentBtn"{{else}}class="buttonTmplContentChild"{{/if}} data-value="${msgItem.value}" type="${msgItem.type}">\
									${msgItem.title}\
								</li> \
							{{/each}} \
						</ul>\
					</div>\
				</li> \
			{{/if}} \
		</scipt>';
		
			$(document).on("ready", function () {
				function assertion(options, callback) {
					var jsonData = {
						"clientId": "cs-32890e72-a804-5e6f-b12e-c1e00a917f09",
						"clientSecret": "3asNmEuTjiuUD6HvGdUzsmXPFdGnuO3L7vAa0jLK4+M=",
						"identity": "ramesh.silveru@kore.com",
						"aud": "",
						"isAnonymous": false
					};
					$.ajax({
						url: botOptions.koreAPIUrl + "users/sts",
						type: 'post',
						data: jsonData,
						dataType: 'json',
						success: function (data) {
							options.assertion = data.jwt;
							options.handleError = koreBot.showError;
							callback(null, options);
							setTimeout(function () {
								if (koreBot && koreBot.initToken) {
									koreBot.initToken(options);
								}
							}, 2000);
						},
						error: function (err) {
							koreBot.showError(err.responseText);
						}
					});
				}

				var botOptions = {};
				botOptions.logLevel = 'debug';
				botOptions.koreAPIUrl = "https://bots.kore.ai/api/";
				//botOptions.bearer = "bearer xyz-------------------";
				botOptions.speechSocketUrl = 'wss://speech.kore.ai/stream/kore/decode';
				botOptions.userIdentity = 'userIdentity';// Provide users email id here
				botOptions.recorderWorkerPath = '../libs/recorderWorker.js';
				botOptions.assertionFn = assertion;
				botOptions.koreAnonymousFn = koreAnonymousFn;
				botOptions.clientId   = "cs-32890e72-a804-5e6f-b12e-c1e00a917f09"; // secure client-id
				botOptions.botInfo = {name:"RH Demo Bot","_id":"st-370e085e-c382-5d95-9684-4e5a9571b95a"}; // bot name is case sensitive
				
				var chatConfig={
					botOptions:botOptions,
					allowIframe: false,
					isSendButton: false
				};
				var koreBot = koreBotChat();
				koreBot.show(chatConfig);
				$('.openChatWindow').click(function () {
					koreBotChat().show(chatConfig);
				});
			});
		</script>
	</head>

	<body>
		<div id="chatContainer">
			<button class="openChatWindow">Open Chat Window</button>
		</div>
	</body>

</html>